/*Header*/
.container {
	max-width: 1170px;
	margin: 0 auto;
}
.lock {
	overflow: hidden;
}
.open {
	left: 0;
	background: linear-gradient(to right, rgb(34, 185, 120), rgb(0, 80, 131));
}
.erzinantys {
	visibility: hidden;
}
img {
	max-width: 100%;
	height: auto;
}
header {
	height: 680px;
}
header a {
	text-decoration: none;
}
.flex-container{
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
}
.flex-container li{
	padding-top: 40px;
}
header nav li a {
	font-family: "Roboto";
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
}
header h1 span {
	font-size: 54px;
	font-family: "Roboto";
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
}
.main-header {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	font-size: 54px;
	padding: 19% 150px;
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	text-align: center;
	color: #ffffff;
}
.middle-header {
	height: 100%;
}
.navigation li{
	margin-left: 30px;
	font-size: 14px;
}
.logo a {
	font-family: "Roboto";
	font-weight: bold;
	font-style: normal;
	color: #ffffff;
}
.logo {
	align-items: center;
	font-size: 24px;
	padding-top: 40px;
}
header nav li:last-child a {
	font-size: 16px;
	margin-left: 60px;
	padding: 16px 30px;
	background-color: #07b569;
	border: none;
	cursor: pointer;
}
/*Main starts here*/

/*About section*/
.about-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-top: 119px;
}
.about-container > div {
	max-width: 50%;
}
.about-header2 h2{
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	color: rgba(27, 27, 27, 255);
	margin-top: 40px;
}
.about-button-container {
	display: flex;
	justify-content: flex-start;
}
.about-button{
	font-size: 16px;
	padding: 16px 30px;
	border: none;
	font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    color: rgba(255,255,255,255);
    background-color: #07b569;
    margin-top: 38px;
    cursor: pointer;
    text-decoration: none;
}
.about-paragraph p{
	font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 18px;
    color: rgba(95,95,95,255);
    text-align: justify;
    margin-top: 53px;
    line-height: 1.4;
}
.about-picture {
	position: relative; /*sitas tevinis paveiksliuko elementas*/
	margin-right: 15px;
	z-index: -1;
}
.about-picture img {
	height: 100%;
}
.overlay {
	position: absolute; /*cia tuscias divas sukurtas specialiai perdengimui */
	/*linear gradient sudeda kelias spalvas*/
	background: linear-gradient(to right, rgba(34, 185, 120, 0.5), rgba(0, 80, 131, 0.5));
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1;
}
.about-broshure {
	margin-left: 15px;
}
/*Services section*/
@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?v3bljj');
  src:  url('fonts/icomoon.eot?v3bljj#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?v3bljj') format('truetype'),
    url('fonts/icomoon.woff?v3bljj') format('woff'),
    url('fonts/icomoon.svg?v3bljj#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-roof:before {
  content: "\e900";
  font-size: 57px;
  background: linear-gradient(to left, rgba(34, 185, 120), rgba(0, 80, 131));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-roof1:before {
  content: "\e901";
  font-size: 57px;
  background: linear-gradient(to left, rgba(34, 185, 120), rgba(0, 80, 131));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-shield:before {
  content: "\e902";
  font-size: 57px;
  background: linear-gradient(to left, rgba(34, 185, 120), rgba(0, 80, 131));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-sketch:before {
  content: "\e903";
  font-size: 57px;
  background: linear-gradient(to left, rgba(34, 185, 120), rgba(0, 80, 131));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-waste-pipe:before {
  content: "\e904";
  font-size: 57px;
  background: linear-gradient(to left, rgba(34, 185, 120), rgba(0, 80, 131));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.icon-water-slide:before {
  content: "\e905";
  font-size: 57px;
  background: linear-gradient(to left, rgba(34, 185, 120), rgba(0, 80, 131));
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.about-icons-container{
	margin-top: 115px;
}
.about-icons-container ul{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
}
.about-icons-container li {
	max-width: 370px;
}
.about-icon-name h3 {
	font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    font-size: 18px;
    color: rgba(29,29,29,255);
    text-align: center;
    margin-top: 20px;
}
.about-icon-text p{
	font-family: 'Roboto';
    font-weight: normal;
    font-style: normal;
    font-size: 16px;
    color: rgba(29,29,29,255);
    text-align: center;
    line-height: 1.4;
    margin-top: 39px;
    margin-bottom: 80px;
    opacity: 0.7;
}
.about-icon {
	text-align: center;
}
/*Portfolio section*/
.portfolio-header {
	display: flex;
	justify-content: flex-start;
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	color: rgba(27, 27, 27, 255);
}
.portfolio-container {
	max-width: 1920px;
	margin-top: 60px;
}
.portfolio-container ul{
	display: flex;
	justify-content: center;
	flex-direction: row;
	flex-wrap: wrap;
}
.portfolio-container li {
	width: 25%;
}
.portfolio-container img{
	width: 100%;
}
.portfolio-button-container {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}
.portfolio-button {
	font-size: 16px;
	padding: 17px 63px;
	border: none;
	font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    color: rgba(255,255,255,255);
    background-color: #07b569;
    margin-top: 38px;
    cursor: pointer;
	text-decoration: none;
}
/*Review section*/
.review {
	background: linear-gradient(to right, rgba(0, 80, 131), rgba(34, 185, 119) );
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 50% 50%;
	height: 552px;
	margin-top: 120px;
}
.review-flex {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	padding-top: 5%;
}
.quotation h2{
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 100px;
	color: rgba(255, 255, 255, 255);
	opacity: 0.9;
}
.review-paragraph {
	text-align: center;
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 16px;
	color: rgba(255, 255, 255, .85);
	line-height: 1.6;
}
.review-name {
	margin-top: 3%;
	text-align: center;
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: rgba(255, 255, 255, 255);
}
.review-position {
	text-align: center;
	font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
	font-size: 13px;
	color: rgba(255, 255, 255, 255);
	margin-top: 1.1%;
	opacity: 0.7;
}
.icon-keyboard_arrow_right:before {
  content: "\e906";
  margin-left: 23px;
  color: #9f9f9f;
  font-size: 40px;
}
.icon-keyboard_arrow_left:before {
  content: "\e907";
  margin-right: 23px;
  color: #9f9f9f;
  font-size: 40px;
}
.icon-keyboard_arrow_left:hover {
	font-weight: bold;
	cursor: pointer;
}
.icon-keyboard_arrow_right:hover {
	font-weight: bold;
	cursor: pointer;
}
.review-pictures img:hover {
	cursor: pointer;
}
.review-pictures {
	display: flex;
	justify-content: center;
	align-items: center;
	max-width: 382px;
	margin: 3.5% auto;
}

.review-pictures ul{
	display: flex;
	justify-content: center;
	align-items: center;
}
.review-pictures li {
	margin-right: 7px;
	margin-left: 7px;
}
.active {
	transform: scale(1.4);
}
/*Contacts section*/
.contact-header {
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 36px;
	color: rgba(65, 61, 75, 255);
	display: flex;
	justify-content: center;
	margin-top: 10.3%;
}
.contact-container {
	margin-top: 6.8%;
	max-width: 970px;
	display: flex;
	justify-content: space-between;
}
.address {
	max-width: 470px;
	margin-left: 10.3%;
	margin-right: 3.1%;
}
.acf-map {
	width: 440px;
	height: 270px;
	margin: 20px 0;
}
/* fixes potential theme css conflict */
.acf-map img {
   max-width: inherit !important;
}
.form {
	max-width: 470px;
	margin-right: 10.3%;
	margin-left: 3.1%;
	opacity: 0.5;
	margin-top: 14px;
}
.form input, .form textarea{
	width: 465px;
}
.form input{
	height: 45px;
	margin-top: 20px;
}
.form textarea {
	height: 200px;
	margin-top: 20px;
}
.address h3 {
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: rgba(0, 0, 0, 255);
	margin-bottom: 45px;
}
.address p {
	margin-top: 25px;
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: rgba(0, 0, 0, 255);
	opacity: 0.7;
}
.contact-button {
	font-size: 16px;
	padding: 18px 30px;
	border: none;
	font-family: 'Roboto';
    font-weight: bold;
    font-style: normal;
    color: rgba(255,255,255,255);
    background-color: #07b569;
    margin-top: 60px;
    cursor: pointer;
    text-decoration: none;
}
.contact-button-container {
	display: flex;
	justify-content: center;
}
/*Footer starts here*/
.footer-container{
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
	padding-top: 11.1%;
	padding-bottom: 10%;
}
.fotter-column1 {
	margin-right: 11.1%;
	width: 470px;
}
.fotter-column2 {
	margin-right: 11.1%;
	width: 170px;
}
.fotter-column3 {
	width: 170px;
}
.footer-container h3 {
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 18px;
	color: rgba(255, 255, 255, 255);
}
.footer-container p {
	font-family: "Roboto";
	font-weight: normal;
	font-style: normal;
	font-size: 14px;
	color: rgba(255, 255, 255, 255);
	line-height: 1.6;
	opacity: 0.7;
	text-align: left;
}
.footer-container p {
	margin-top: 45px;
}
/*Media*/
@media screen and (max-width: 320px) {
	/*headeris*/
	.container {
		max-width: 310px;
		margin: 0 auto;
	}
	header nav {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 150%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 7;
		transition: 0.5s;
	}
	.navigation {
		display: flex;
		flex-direction: column;
	}
	.header-position {
		position: fixed;
		left: 0;
		right: 0;
	}
	.navigation li{
		margin-left: 0px;
		padding-top: 15px;
	}
	.logo {
		padding-top: 0px;
	}
	.logo a{
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
	header nav li:last-child a {
		margin-left: 0px;
		padding: 10px 20px;
	}
	.burger {
		display: inline-block;
    	cursor: pointer;
    	position: relative;
    	z-index: 99;
	}
	.bar1, .bar2, .bar3 {
    	width: 35px;
    	height: 5px;
    	background-color: white;
    	margin: 6px 0;
    	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
	.main-header {
	    padding: 50% 150px;
	}
	/*about section*/
	.about-container {
		justify-content: center;
		flex-wrap: wrap;
		flex-direction: column-reverse;
		margin-top: 60px;
	}
	.about-picture {
	    margin-right: 0px;
	    margin-top: 60px;
	}
	.about-paragraph p {
		text-align: center;
	    /*max-width: 99vw;*/
	}
	.about-container > div {
	    max-width: 100%;
	}
	.about-broshure {
	    margin-left: 0px;
	}
	.about-header2 h2 {
	    text-align: center;
	    margin-top: 0;
	}
	.about-button-container {
	    justify-content: center;
	}
	/*services section*/
	.about-icon-text p {
	    opacity: 1;
	}
	/*portfolio section*/
	.portfolio-container li {
		width: 100%;
	}
	.portfolio-container img {
    	width: 100%;
		height: auto;
	}
	.portfolio-header {
    	justify-content: center;
	}
	.portfolio-button-container {
	    margin-top: 0px;
	}
	/*review sekcija*/
	.review {
	    height: 624px;
	    margin-top: 50px;
	}
	/*contact section*/
	.contact-container {
	    margin-top: 80px;
	    display: flex;
	    justify-content: center;
	    flex-wrap: wrap;
	}
	.contact-header {
	    margin-top: 80px;
	}
	.address {
	    max-width: 320px;
	    text-align: center;
	    margin-left: 0px;
		margin-right: 0px;
	}
	.acf-map {
	    width: 100vw;
	}
	.form {
	    max-width: 100vw;
	    margin-right: 0px;
	    margin-left: 0px;
	    opacity: 0.5;
	}
	.form input, .form textarea {
	    width: 98vw;
	}
	/*footer section*/
	footer {
		margin-top: 50px !important;
	}

	.footer-container {
	    justify-content: center;
	    flex-direction: column;
	    text-align: center;
	    align-content: center;
	}
	.fotter-column1 {
	    margin-right: 0px;
	    width: 100vw;
	}
	.fotter-column2 {
	    margin-right: 0px;
	    margin-top: 10px;
	    width: 100vw;
	}
	.fotter-column3 {
		margin-top: 10px;
	    width: 100vw;
	}
	.footer-container div p {
		max-width: 100vw !important;
		text-align: center;
	}
	.extendet-p {
		width: 100vw !important;
	}
}
@media screen and (min-width: 321px) and (max-width: 480px) {
	.container {
		max-width: 424px;
		margin: 0 auto;
	}
	header nav {
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 150%;
		display: flex;
		justify-content: center;
		align-items: center;
		z-index: 7;
		transition: 0.5s;
	}
	.navigation {
		display: flex;
		flex-direction: column;
	}
	.header-position {
		position: fixed;
		left: 0;
		right: 0;
	}
	.navigation li{
		margin-left: 0px;
		padding-top: 15px;
	}
	.logo {
		padding-top: 0px;
	}
	.logo a {
		text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
	header nav li:last-child a {
		margin-left: 0px;
		padding: 10px 20px;
	}
	.burger {
		display: inline-block;
    	cursor: pointer;
    	position: relative;
    	z-index: 99;
	}
	.bar1, .bar2, .bar3 {
    	width: 35px;
    	height: 5px;
    	background-color: white;
    	margin: 6px 0;
    	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
	}
	.main-header {
	    padding: 50% 0px;
	}
	.flex-container {
	    padding-top: 20px;
	}
	/*about section*/
	.about-container {
	    display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    flex-direction: column;
		align-items: center;
	    margin-top: 65px;
	}
	.about-container > div {
	    max-width: 98%;
	}
	.about-header2 h2 {
	    text-align: center;
	}
	.about-picture {
	    position: relative;
	    margin-right: 0px;
	    z-index: -1;
	}
	.about-broshure {
	    margin-left: 0px;
	}
	.about-button-container {
	    justify-content: center;
	}
	/*services section*/
	.about-icons-container {
	    margin-top: 65px;
	}
	.about-icons-container ul {
	    justify-content: center;
	}
/*portfolio section*/
	.portfolio-header {
		justify-content: center;
	}
	.portfolio-container li {
	    width: 50%;
	}
	.portfolio-container img {
	    width: 100%;
	}
	.portfolio-button-container {
	    margin-top: 35px;
	}
	/*review section*/
	.review {
		margin-top: 90px;
	}
	/*contact section*/
	.contact-container {
	    justify-content: center;
	    flex-wrap: wrap;
	}
	.address {
	    max-width: 100vw;
	    margin-left: 0px;
	    margin-right: 0px;
	    text-align: center;
	}
	.acf-map {
	    width: 98vw;
	}
	.form {
	    max-width: 100vw;
	    margin-right: 0px;
	    margin-left: 0px;
	    margin-top: 0px;
	}
	.form input, .form textarea {
	    width: 98vw;
	}
	/*footer section*/
	footer {
		margin-top: 60px !important;
	}
	.footer-container {
	    justify-content: center;
	    flex-direction: column;
	    text-align: center;
	    align-content: center;
	}
	.fotter-column1 {
	    margin-right: 0px;
	    width: 100vw;
	}
	.fotter-column2 {
	    margin-right: 0px;
	    margin-top: 10px;
	    width: 100vw;
	}
	.fotter-column3 {
		margin-top: 10px;
	    width: 100vw;
	}
	.footer-container div p {
		max-width: 100vw !important;
		text-align: center;
	}
	.extendet-p {
		width: 100vw !important;
	}
}
@media screen and (min-width: 481px) and (max-width: 668px) {
	.container {
	    max-width: 630px;
	    margin: 0 auto;
	}
	.navigation {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.navigation li {
	    margin-left: 9px;
	    font-size: 14px;
	}
	.navigation li:last-child a {
		margin-left: 0px;
	}
	.navigation li:last-child {
		width: 100%;
		text-align: right;
	}
	header nav {
		margin-left: auto;
		width: 70%;
	}
	/*about section*/
	.about-container {
	    display: flex;
	    justify-content: space-between;
	    flex-wrap: wrap;
	    flex-direction: column;
		align-items: center;
	    margin-top: 65px;
	}
	.about-container > div {
	    max-width: 98%;
	}
	.about-header2 h2 {
	    text-align: center;
	}
	.about-picture {
	    position: relative;
	    margin-right: 0px;
	    z-index: -1;
	}
	.about-broshure {
	    margin-left: 0px;
	}
	.about-button-container {
	    justify-content: center;
	}
	/*services section*/
	.about-icons-container {
	    margin-top: 65px;
	}
	.about-icons-container ul {
	    justify-content: center;
	}
	/*portfolio section*/
	.portfolio-header {
		justify-content: center;
	}
	.portfolio-container li{
		width: 50%;
	}
	.portfolio-container img{
		width: 100%;
	}
	/*contact section*/
	.contact-container {
	    justify-content: center;
	    flex-wrap: wrap;
	}
	.address {
	    max-width: 100vw;
	    margin-left: 0px;
	    margin-right: 0px;
	    text-align: center;
	}
	.acf-map {
	    width: 98vw;
	}
	.form {
	    max-width: 100vw;
	    margin-right: 0px;
	    margin-left: 0px;
	    margin-top: 0px;
	}
	.form input, .form textarea {
	    width: 98vw;
	}
	/*footer section*/
	.footer-container {
	    justify-content: center;
	    flex-direction: column;
	    text-align: center;
	    align-content: center;
	}
	.fotter-column1 {
	    margin-right: 0px;
	    width: 100vw;
	}
	.fotter-column2 {
	    margin-right: 0px;
	    margin-top: 10px;
	    width: 100vw;
	}
	.fotter-column3 {
		margin-top: 10px;
	    width: 100vw;
	}
	.footer-container div p {
		max-width: 100vw !important;
		text-align: center;
	}
	.extendet-p {
		width: 100vw !important;
	}
}
@media screen and (min-width: 669px) and (max-width: 990px) {
	
	.container {
	    max-width: 930px;
	    margin: 0 auto;
	}
	.flex-container {
	    flex-wrap: nowrap;
	}
	.navigation {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
	}
	.navigation li {
	    margin-left: 9px;
	    font-size: 14px;
	}
	.navigation li:last-child a {
		margin-left: 0px;
	}
	.navigation li:last-child {
		width: 30%;
		text-align: right;
	}
	header nav {
		margin-left: auto;
		width: 72%;
	}
	/*about*/
	.about-container {
	    flex-wrap: nowrap;
	    margin-top: 75px;
	}
	/*services*/
	.about-icons-container li {
	    max-width: 46vw;
	}
	/*contacts*/
	.contact-container {
	    justify-content: center;
	    flex-wrap: wrap;
	}
	.address {
	    max-width: 100vw;
	    margin-left: 0px;
	    margin-right: 0px;
	    text-align: center;
	}
	.acf-map {
	    width: 98vw;
	}
	.form {
	    max-width: 100vw;
	    margin-right: 0px;
	    margin-left: 0px;
	    margin-top: 0px;
	}
	.form input, .form textarea {
	    width: 98vw;
	}
	/*footeris*/
	.footer-container {
	    flex-wrap: nowrap;
	}
	.fotter-column1 {
	    margin-right: 0px;
	    width: 50vw;
	    margin-bottom: 40px;
	}
	.fotter-column2 {
	    margin-right: 0px;
	    width: 25vw;
	}
	.fotter-column3 {
	    width: 25vw;
	}
	.fotter-column1 * {
		text-align: start !important;
	}
	.extendet-p{
		width: 100%!important;
	}
	.fotter-column2 *, .fotter-column3 * {
		text-align: start !important;
	}
}
@media screen and (min-width: 991px) and (max-width: 1170px) {
/*about*/
	.about-container {
	    flex-wrap: nowrap;
	}
	/*contacts*/
	.contact-container {
	    max-width: 100vw;
	    justify-content: space-around;
	    flex-wrap: nowrap;
	}
	.address {
	    max-width: 50vw;
	    margin-left: 0px;
	    margin-right: 0px;
	    text-align: center;
	}
	.acf-map {
	    width: 49vw;
	}
	.form {
	    max-width: 50vw;
	    margin-right: 0px;
	    margin-left: 0px;
	    margin-top: 0px;
	}
	/*footer*/
	.footer-container {
	    flex-wrap: nowrap;
	}
}